{% extends "report_att.html" %}
{% load i18n %}
{% load iclock_tags %}

{% block sidxblock %}
	function getSidx_daily_devices(){
		return 'DeptID'
	}
{% endblock %}

{% block date_range %}
		<div id="search_CheckTime" class='left' style="width:385px;">
		   <label  >{%trans "查询日期"%}</label>
		   <input type="text" name="CheckTime" maxlength="10" id="id_CheckTime" size="9">
		</div>



{% endblock %}
{% block date_set_range %}	

$("#"+g_activeTabID+" #id_CheckTime").val(dateTime)
$("#"+g_activeTabID+" #id_CheckTime").datepicker(datepickerOptions);

{% endblock %}

{% block getDateUrl %}

function getDateUrl()
{


	var urlStr=g_urls[g_activeTabID]
	var CheckDate=$("#"+g_activeTabID+" #id_CheckTime").val();
	var isError=moment(CheckDate, "YYYY-MM-DD").isValid()
	if (isError)
	{
		if(urlStr.indexOf("?")!=-1)
			urlStr+="&checkDate="+CheckDate
		else
			urlStr+="?checkDate="+CheckDate
	
		
	}else{
		alert(gettext("请检查时间格式是否正确，且最多查询31天！"));
		urlStr='';
	}
	return urlStr

}
{% endblock %}


{% block search %}
<div class="s-info right" id="sear_area">			
	<div class="nui-ipt nui-ipt-hasIconBtn " >
		<input id="searchbar" class="search-input" type="text"  value="单位编号,单位名称" role='defvalue' autocomplete="off" />
		<span id ="queryButton" class="nui-ipt-iconBtn">
			<b id="_icon_2_28" class="nui-ico nui-ico-dArr "></b>
		</span>
		
	</div>
	
	<div class="main-search-btn">
	
		<span><img id="searchButton" src="/media/img/s.gif" title="{%trans "Search"%}" style="cursor:hand;"></span>
	</div>
</div>
{% endblock %}	

