{% extends "report_att.html" %}
{% load i18n %}
{% load iclock_tags %}

{% block sidxblock %}
	function getSidx_employee_finger(){
		return 'DeptID,PIN'
	}
{% endblock %}

{% block date_range %}
    <div id="id_finger" class='left' style='width:650px'><label ">{%trans "过滤"%}</label>
            <input type="radio" name="ISFINGER" checked value='1' id="r_ALL" />{%trans "全部"%}
            <input type="radio" name="ISFINGER" value='2' id="r_YES" />{%trans "有指纹"%}
            <input type="radio" name="ISFINGER" value='0' id="r_NO" />{%trans "无指纹"%}
            <input type="radio" name="ISFINGER" value='3' id="r3_YES" />{%trans "有面部"%}
            <input type="radio" name="ISFINGER" value='4' id="r4_NO" />{%trans "无面部"%}
            <input type="radio" name="ISFINGER" value='5' id="r5_YES" />{%trans "有卡"%}
            <input type="radio" name="ISFINGER" value='6' id="r6_NO" />{%trans "无卡"%}
    </div>
{% endblock %}


{% block date_set_range %}	

{% endblock %}


{% block getDateUrl %}

function getDateUrl()
{
	var urlStr=g_urls[g_activeTabID]
	var val=$('input:radio[name="ISFINGER"]:checked').val();	
	if(urlStr.indexOf("?")!=-1)
		urlStr+="&SEP="+val
	else
		urlStr+="?SEP="+val
	return urlStr

}
{% endblock %}
