{% load i18n %}
{% load iclock_tags %}

<script>
var charts="";
{% autoescape off %}
var iclockpolt={{ iclocks }}

{% endautoescape %}


function ShowConsumeCharts() {
	$('#id_consume_charts').height($('#id_consume_charts').height())
        $('#id_consume_charts').highcharts({
            chart: {
                //renderTo: 'device_chart',
                type: 'column'
		,style: {
			 fontFamily: 'SimSun, Arial,sans-serif'
		     }
            },
            title: {
		style: {  color: '#000000',  fontWeight: 'bold',fontSize:'16px'	}
               ,text: {% autoescape off %}'{{ret.consumes.title}}'{%endautoescape%}
            },
	    credits:{enabled: false},
            xAxis: {
		labels: {
                    style: {  fontWeight:'400',fontSize:'12px' }
                }
                ,categories: {% autoescape off %} {{ret.consumes.categories}}{%endautoescape%},
                gridLineWidth: 1,//设置纵向标尺宽度 
 	    gridLineColor: '#e9e9e9'
               
                
            },
            yAxis: {
 	    gridLineColor: '#e9e9e9',
		tickAmount:6,
               min: 0,
                startOnTick:true,
		allowDecimals:false,
                labels: {
                    formatter: function() {
                        return this.value ;
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: ''
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                shadow: true,
                crosschairs:true,
                enabled:false //不显示series框
            },
            
            tooltip: {
		enabled:true,
                formatter: function() {
                    return ''+
                        this.x +':'+ this.y +'{% trans "次" %}';
                }
            },
            plotOptions: {
                column: {
                  //  width:20,                
                    dataLabels: {
                        enabled: true
                    }
                }
            },
                series: [{data:{% autoescape off %}{{ret.consumes.plots}}{%endautoescape%}}]
       });
 	
   
}



function ShowDeviceState()
{
        $('#device_chart').height($('#device_chart').height())
        $('#device_chart').highcharts({
            chart: {
                //renderTo: 'device_chart',
                type: 'column'
 		,style: {
			 fontFamily: 'SimSun, Arial,sans-serif'
		     }
           },
            title: {
		style: {  color: '#000000',  fontWeight: 'bold',fontSize:'16px'	}
               , text: '{%trans "设备在线情况" %}'
            },
	    credits:{enabled: false},
            xAxis: {
		labels: {
                    style: {  fontWeight:'400',fontSize:'12px' }
                }
               , categories: ['{%trans "在线"%}','{%trans "通信中"%}','{%trans "脱机"%}','{%trans "停用"%}'],
                gridLineWidth: 1,//设置纵向标尺宽度 
 	    gridLineColor: '#e9e9e9'
               
                
            },
            yAxis: {
 	    gridLineColor: '#e9e9e9',
		tickAmount:6,
               min: 0,
                startOnTick:true,
		allowDecimals:false,
                labels: {
                    formatter: function() {
                        return this.value ;
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: ''
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                shadow: true,
                crosschairs:true,
                enabled:false //不显示series框
            },
            
            tooltip: {
		enabled:true,
                formatter: function() {
                    return ''+
                        this.x +':'+ this.y +'{% trans "台" %}';
                }
            },
            plotOptions: {
                column: {
                  //  width:20,                
                    dataLabels: {
                        enabled: true
                    }
                }
            },
                series: [{data:iclockpolt}]
        });
 
 
        $('#record_chart').height($('#record_chart').height())
	$('#record_chart').highcharts({
		credits:{enabled: false},
		chart: {
			type: 'spline'
		,style: {
			 fontFamily: 'SimSun, Arial,sans-serif'
		     }
		//renderTo: 'record_chart'
            },
            title: {
		style: {  color: '#000000',  fontWeight: 'bold',fontSize:'16px'	}
               , text: '{%trans "最近30天消费人次" %}'
           },
             xAxis: {
                categories: {% autoescape off %}{{records.categories}}{% endautoescape %},
            gridLineWidth: 1,
	    gridLineColor: '#e9e9e9'
	    },
            yAxis: {
		gridLineColor: '#e9e9e9',
		tickAmount:6,
		 startOnTick:true,
		 allowDecimals:false,
                title: {
                    text: 'Records'
                },
                labels: {
                    formatter: function() {
                        return this.value ;
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: ''
                }
            },
            tooltip: {
		enabled:true,
                formatter: function() {
                    return  this.y ;
                }
            },
		plotOptions: {
                spline: {
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    }
                }
            },	    
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                shadow: true,
                crosschairs:true,
                enabled:false //不显示series框
            },
            series: [{
                data: [{% autoescape off %}{{records.datas}}{% endautoescape %}]
            } ]
        });
 
 
 
     
}

function ShowCardChange() {
        $('#card_change_info').height($('#card_change_info').height())
        $('#card_change_info').highcharts({
  	credits:{enabled: false},
        chart: {
            type: 'pie',
		style: { fontFamily: 'SimSun, Arial,sans-serif'    }
            ,options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
		style: {  color: '#000000',  fontWeight: 'bold',fontSize:'16px'	}
            ,text:  {% autoescape off %}'{{ret.pos_card_info.title}}'{%endautoescape%}
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
			distance:5,		    
                   format: '{point.name}'
                }
            }
        }
	
	
	
	
       , series: [{
            type: 'pie',
            name: '占比',
            data:{% autoescape off %}{{ret.pos_card_info.data}}{%endautoescape%}
	    
        }]
    });
	
}

function AutoResizeHome_() {
		
	var h=($('#id_content').height()-30)/2-5;
	$('#id_consume_charts').height(h)
	$('#device_chart').height(h)
	$('#card_change_info').height(h)
	$('#record_chart').height(h)
			
	ShowConsumeCharts()
	ShowDeviceState();     
	ShowCardChange();   
		
}

$(function(){
//	initwindow_tabs('tab_id_menu_home',true);
	$("#id_Restore").click(function(){
		menuClick('/iclock/homepage/showHomepage/'+'?mod_name='+mod_name);
		initwindow_tabs('tab_id_menu_home');
		
		})

{% autoescape off %}
	html="<div id='show_sys_tree_'>"
		+"<table>"
                  +" <tr><td> {% trans '自动添加新设备' %}</td><td>{{ret.sysset.dev_auto}}</td></tr>"
                  +"  <tr><td>{% trans '仅接收数据库中存在的人员' %}</td><td>{{ret.sysset.new_record}}</td></tr>"
                  +" <tr><td>{% trans '自动传输人员信息到设备' %}</td><td>{{ret.sysset.Auto_iclock}}</td></tr>"
                  +"  <tr><td>{% trans '员工自助登录' %}</td><td>{{ret.sysset.self_login}}</td></tr>"
                   +"  <tr><td>{% trans '照片显示' %}</td><td>{{ret.sysset.photo_show}}</td></tr>"
                   +" <tr><td>{% trans '每月锁定上月数据的日期' %}</td><td>{{ret.sysset.lock_date}}</td></tr>"
                  +"  <tr><td>{% trans '采集器采集指纹' %}</td><td>{{ret.sysset.enroll}}</td></tr>"
		+"	<tr><td>{{ret.sysset.options}}</td><td></td></tr>"

		+"</table>"

		+"</div>"
		
		+"<div id='home_info_user' class='west_info' style='padding-top:20px;'>"
		
		+     "<p ><i class='ui-icon ui-icon-caret-1-e'></i>{% trans 'Username' %}:{{user.username}}{% if user.is_public %}{% if user.first_name %}<p>{% trans '姓名:' %}{{user.first_name}}</p>{% endif %}{% if user.Tele %}<p>{% trans '电话:' %}{{user.Tele}}</p>{% endif %}{% endif %}</p>"
		+"    <p><i class='ui-icon ui-icon-caret-1-e'></i>{% trans '角色' %}:{% if user.is_superuser %}{% trans 'Supervisor' %}{% else %}{% trans 'General manager' %}{% endif %}</p>"
		+"    <p><i class='ui-icon ui-icon-caret-1-e'></i>{% trans 'The last login time' %}:{{user.last_login}}</p>"
		+"    <p><i class='ui-icon ui-icon-caret-1-e'></i>{% trans 'Authorized department' %}:{{ ret.sysset.Auth_dept}}</p>"
		+"    <p><i class='ui-icon ui-icon-caret-1-e'></i>{% trans 'Authorized device' %}:{{ret.sysset.Auth_device}}</p>"
		+"    <p><i class='ui-icon ui-icon-caret-1-e'></i>{% trans '授权时段' %}:{{ret.sysset.Auth_timezone}}</p>"
		+"    <p><i class='ui-icon ui-icon-caret-1-e'></i>{% trans '登陆次数' %}:{{user.logincount}}</p>"
		+"<p></p>"
		+"<a class='icon iconfont icon-xiugai' onclick=menuClick('/iclock/accounts/password_change/'); style='float:left;color:#7ac143;'>{% trans 'Change password' %}</a>" 
		+"</div>"
		
		
	$("#west_content").html(html)
	//var h=$("#"+g_activeTabID+" #west_content").height()-20
	//$('#showTree_'+g_activeTabID).css('height',h)



	
	
	
//	var width=$("#"+g_activeTabID+" #id_content").width();
//	if (width>1700) {
//		$("._home_").css('width',1500)
//	}
///	else if (width>1500) {
//		$("._home_").css('width',1200)
//	}


	//var titletop=((height/6)/5);
	//var twidth=width-50;
	//$("#conId").css("width",width).css("height",height);
	//$("#titlemsg").css("width",twidth).css("height","20px").css("color","#6699CC");
	//var height=$("#"+g_activeTabID+" #id_content").height()-$('#titlemsg').height()-15;
	//$(".widget-place").css("height",height).css("width",width/2-10);
	//$(".widget-header").css("width",width/2-50);
	//$(".contentLeft").css("float","left");
	//alert($("strong").width());
	//$.fn.EasyWidgets({
	//i18n : {
	//  closeText :'',// '<img src="../media/img/close.gif" alt="Close" width="23" style="margin-top:-1px"/>',
	//  closeTitle :''// gettext('Close')
	//},
	//options : {
	//    closeConfirm:'',
	//    editable:'',
	//    collapsable:''
	//},
	//    
	//behaviour : {
	//      useCookies : true
	//    }
	//});
	//$(".imgc").css("margin-left",$(".widget-header").width()-$("strong").width());
	//$(".imgc").css("margin-right","0px");
	// speed(10)
	//  getRecords()
	// showcss();
	AutoResizeHome_();
	//ShowConsumeCharts()
	//ShowDeviceState();     
	//ShowCardChange();
	//  charts=chart;
	//charts.setSize(400)
    
 		if (home_url[mod_name]) {
			var htobj=$("<li id="+home_url[mod_name].id+">"+home_url[mod_name].caption+"</li>")
			menuClick(home_url[mod_name].url,htobj)
			
		}
{% endautoescape %}

});






//function timeStr()
//{
//	var today=new Date()
//	var h=today.getHours()
//	var m=today.getMinutes()
//	var s=today.getSeconds()
//	return checkTime(h)+":"+checkTime(m)+":"+checkTime(s)
//}

//function ShowCustomInfo(){
//    showCustom();
//}

//function showCustom() {
//	var left = $("#id_Restore").offset().left;
//	$("#show_Custom_selected").css({position: 'absolute',display:"block",left: left-$("#titlemsg").offset().left});
//}

function hideCustom_define(){
    var left = $("#id_Restore").offset().left;
	$("#show_Custom_selected").css("display","none").css("left",left);
}


 

</script>

<div id="conId_home" style="width:100%;height: 100%;overflow: auto;" >
    <div id="titlemsg" align="right" style="margin: 0 auto;min-width:1000px;width: 95%;height: 20px;color: #6699CC;">
	<span id="id_Restore">[<a  href="#" style='text-decoration:underline;'><font color=red>{% trans '刷新' %}</font></a>]|[<a onclick="load_AboutDlg();" href="#" style='text-decoration:underline;'>{% trans '关于本系统' %}</a>]</span>&nbsp;&nbsp;<span>&nbsp;&nbsp;<a>{{date}}</a>&nbsp;&nbsp;</span>
    </div>
    <div class="_home_" style='margin: 0 auto;min-width:1000px;width: 95%;height: 95%;'>
	<div class="widget-place" id="widget-place-1" style="width: 48%;height: 100%;">
	    <div id="identifierwidget-1" >
		    <div id="id_consume_charts" class="widget-content" style="min-height: 180px;height: 185px;">
		    </div>
	    </div>
		<div style="height: 10px;"></div>
	    <div id="identifierwidget-2" >
		    <div id="device_chart" class="widget-content" style="min-height: 180px;height: 185px;"> </div>
		    
		    
	    </div>
    
	</div>
	<div class="widget-place" id="widget-place-2" style="width: 48%;height: 100%;">
	    <div id="identifierwidget-4"  >
    
		    <div id="card_change_info"  class="widget-content" style="min-height: 180px;height: 185px;">	</div>
	    </div>
		<div style="height: 10px;"></div>
	    <div id="identifierwidget-5"  >
		    <div id="record_chart" class="widget-content" style="min-height: 180px;height: 185px;"> </div>
	    </div>
    
	</div>
	</div>

    
</div>
<script src="{{ MEDIA_URL }}jslib/baseEncry.min.js?scriptVersion=11.001"></script>
<script src="{{ MEDIA_URL }}jslib/is_pos_ic.min.js?scriptVersion=11.002"></script>
