{% load i18n %}
{% load iclock_tags %}
<script>
leaveClass={% autoescape off %} {{ leaveClass_s }}{% endautoescape %}
$(function refresh(){
    $('#id_StartSpecDay').prop('readonly',true)
   $('#id_EndSpecDay').prop('readonly',true)
    
    getLeaveClass();
    $("#clearance").html(getClearance(0));
    var currDate=new Date();
    td=currDate.getFullYear()
        +"-"
        +(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
        +"-"
        +(currDate.getDate()<10?"0"+currDate.getDate():currDate.getDate())
        +" "
        +(currDate.getHours()<10?"0"+currDate.getHours():currDate.getHours())
        +":"
        +(currDate.getMinutes()<10?"0"+currDate.getMinutes():currDate.getMinutes())
        +":"
        +(currDate.getSeconds()<10?"0"+currDate.getSeconds():currDate.getSeconds())

        setd=currDate.getFullYear()
            +"-"
            +(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
            +"-"
            +(currDate.getDate()<10?"0"+currDate.getDate():currDate.getDate())
            +" ";
        $("#id_StartSpecDay").val(setd+"00:00");
        $("#id_EndSpecDay").val(setd+"23:59");
        $("#id_ApplyDate").val(td);
        $("#id_StartSpecDay").datetimepicker(datetimepickerOptions);
        $("#id_EndSpecDay").datetimepicker(datetimepickerOptions);
})
function getLeaveClass(){
	var html=""
	for(var i=0;i<leaveClass.length;i++){
            if(i==0)
                html+="<option value='"+leaveClass[i].LeaveID+"' selected>"+leaveClass[i].LeaveName+"</option>"
            else
                html+="<option value='"+leaveClass[i].LeaveID+"'>"+leaveClass[i].LeaveName+"</option>"
	}
	return $("#id_leave").html(html);
};
function getClearance(clearance){
    html="";
    if(clearance=="" || clearance==0)
        html+="<option value='0' selected>{%trans 'No'%}</option>"
    else
        html+="<option value='0'>{%trans 'No'%}</option>"
    if(clearance==1)
        html+="<option value='1' selected>{%trans 'Yes'%}</option>"
    else
        html+="<option value='1'>{%trans 'Yes'%}</option>"
    return html;


}
function validateForm(obj){
            apply=$("#id_ApplyDate",obj).val();
            var t_ComeTime=$("#id_StartSpecDay",obj).val();
            var t_EndDate=$("#id_EndSpecDay",obj).val();

            var cdate=new Date(t_ComeTime.replace(/-/g,"/"))
            var edate=new Date(t_EndDate.replace(/-/g,"/"))
            var days=(edate.valueOf()-cdate.valueOf())/(1000*3600*24)+1;
                if(t_ComeTime=="" || t_EndDate==""){
                        return 1;
                }else if(cdate>edate){
                        return 2;
                }else{
                        return 0;
                }

        }
function beforePost(obj,actionName){
                if(validateForm(obj)==1)
                {
                        $("#id_errors",obj).css("display","block");
                        $("#id_error",obj).html("{%trans 'Enter a valid date/time' %}").css("color","red");
                        return false;
                }else if(validateForm(obj)==2){
                        $("#id_errors",obj).css("display","block");
                        $("#id_error",obj).html("{%trans 'End time less than begin time' %}").css("color","red");
                        return false;	}
                $("#id_DateID",obj).val($("#id_leave",obj).val())
                $("#id_clearance",obj).val($("#clearance",obj).val())
                if(actionName=="_new_"){
                        var emp="{{ emp_id }}";
                        $("#id_userid",obj).val(emp);
                        $("#id_error",obj).css("display","none");
                        $("#id_userid",obj).val(emp);
                }else {}
}

function SaveFormDataEx(FormObj,url,flag)
{
	f=FormObj
	if (!$(f).valid()){$("#id_error").html(gettext("occur error!")).css("color","red").css('display','block'); return 0;}
	var formStr=formToRequestString(f);
	$.post(url,
		formStr,
		function (ret, textStatus) {
            $("#id_errors").css("display","block");
			$("#id_error").html(ret.message).css("color","red").css('display','block');
            setTimeout("$('#id_errors').css('display','none');", 3000);
		    },
		"json");
}
</script>

<!--<div>
	<ul id="breadcrumb">
		<li><a href='/iclock/staff/'>申请中心</a> <span style='color:#CCCCCC'>/</span> <a href="#">{{ location }}</a></li>
	</ul>
</div>
-->

<div align="center" style="margin-top: 10px">
<table border="1" width="47%" height="250" style="border-width: 0px">
	<!-- MSTableType="layout" -->
	<tr>
		<td style="border-style: none; border-width: medium">　<form class="contact_form"  id="id_edit_form" method="post"  action='' enctype='multipart/form-data'>
    <ul>
        <li>
              <label for="name" ><h3 style="margin-top: -30px;">申请请假</h3></label>
        </li>
	<li id="Annuals">
            <label for="id_Annual" style=" margin-top:-3px;">{% trans '剩余年假'%}</label>
	    <span class="radio vam"  style='width:140px!important;' >{{Annual}}&nbsp;</span>
        </li>
        <li id="StartSpecDays">
            <label for="id_StartSpecDay">{% trans 'Begin time'%}</label>
            <input name="StartSpecDay" id="id_StartSpecDay" type="text" value='' maxlength='19' class="radio vam" style='width:140px!important;'  />&nbsp;&nbsp;
        </li>
        <li id="EndSpecDays">
            <label for="id_EndSpecDay">{% trans 'End time'%}</label>
            <input name="EndSpecDay" id="id_EndSpecDay" type="text" value='' maxlength='19' class="radio vam"  style='width:140px!important;' />&nbsp;&nbsp;
        </li>
        <li id="leaves">
            <label for="id_leave">{% trans 'Leave Class:'%}</label>
            <select  id='id_leave' style='width:135px!important;'></select>
        </li>
        <li id="clearances">
            <label for="clearance">{% trans 'Leave clearance'%}</label>
            <select  id='clearance' style='width:135px!important;'></select>
        </li>
        <li id="YUANYINGs">
            <label for="id_YUANYING">{% trans 'Reson'%}</label>
            <input name="YUANYING" id="id_YUANYING" type="text" value='' class="radio vam"  style='width:140px!important;' />&nbsp;&nbsp;
        </li>
	<li id="Places">
            <label for="id_Place">{% trans '外出地点'%}</label>
            <input name="Place" id="id_Place" type="text" value='' class="radio vam"  style='width:140px!important;' />&nbsp;&nbsp;
        </li>
	<li id="mobiles">
            <label for="id_mobile">{% trans '联系电话'%}</label>
            <input name="mobile" id="id_mobile" type="text" value='' class="radio vam"  style='width:140px!important;' />&nbsp;&nbsp;
        </li>
	<li id="successors">
            <label for="id_successor">{% trans '工作承接人'%}</label>
            <input name="successor" id="id_successor" type="text" value='' class="radio vam"  style='width:140px!important;' />&nbsp;&nbsp;
        </li>
	<li id="remarkss">
            <label for="id_remarks">{% trans '备注'%}</label>
            <input name="remarks" id="id_remarks" type="text" value='' class="radio vam"  style='width:140px!important;' />&nbsp;&nbsp;
        </li>
        <li id="ApplyDates">
            <label for="id_ApplyDate">{% trans 'ApplyDate'%}</label>
            <input id='id_ApplyDate'  type='text' value='' maxlength='19' value='' class="radio vam" disabled="disabled" name='ApplyDate' style='width:140px!important;' />&nbsp;&nbsp;
        </li>
        <li>
            <input type='hidden' id='id_userid' value='' name='UserID' />
            <input type='hidden' id='id_DateID' value='' name='DateID' />
            <input type='hidden' id='id_clearance' value='' name='clearance' />
            <div id="id_errors" style="width:300px;font-size:12px;display: none;">
                <span id="id_error" style="width:280px;float: right;"></span>
                <img src="../media/img/icon_alert.gif"  />
            </div>
        </li>
    </ul>
</form></td>
	</tr>
</table>
        <button id="id_staff_apply_speday_save" class="m-btn  zkgreen rnd"  type="button" role="button" aria-disabled="false" style="width: 100px;" title="保存" onclick="if(typeof beforePost=='function'){if(beforePost(document.getElementById('id_edit_form'),'_new_')==false) return ;}  SaveFormDataEx(document.getElementById('id_edit_form'),'/iclock/apply/USER_SPEDAY/_new_/','edit','_new_');">{%trans 'Save'%}</button>
</div>



