{% load i18n %}
Welcome 
{%trans "You're receiving this e-mail because you requested a password reset"%}

Now you can give the customer support experts in your organization the ability to respond to customer reviews on the App Store with the new Customer Support role in iTunes Connect. Users with the Admin or Customer Support role have the ability to respond to customer reviews.

Your team’s admins may choose to assign only this role to users, or assign this role in combination with other roles. Users who have been assigned only the Customer Support role can access Resources and Help, Users and Roles, and My apps in iTunes Connect. When they click on an app in My Apps, they’ll go straight to Ratings and Reviews where they can respond to customer reviews.

To ensure a smooth introduction to this new role, all users with the App Manager and Marketer roles have been automatically assigned the Customer Support role. Users added to your team after July 13, 2017 will need to be manually assigned the Customer Support role in order to respond to customer reviews.

To learn how to add a new user and change user roles, see iTunes Connect Developer Help.

Best regards,
The App Store Team

