/* CHANGELISTS */
/*
#changelist { position:relative; width:100%; }
#changelist table { width:100%; }
*/
.change-list .filtered table { border-right:1px solid #ddd;  }
.change-list .filtered { min-height:400px; }
.change-list .filtered { background:white url(../img/changelist-bg.gif) top right repeat-y !important; }
.change-list .filtered table, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull { margin-right:160px !important; width:auto !important; }
.change-list .filtered table tbody th { padding-right:1em; }
#changelist .toplinks { border-bottom:1px solid #ccc !important; }
#changelist .paginator { color:#666; border-top:1px solid #eee; border-bottom:1px solid #eee; background:white url(../img/nav-bg.gif) 0 180% repeat-x; overflow:hidden; }
.change-list .filtered .paginator { border-right:1px solid #ddd; }

/*  CHANGELIST TABLES  */
#changelist table thead th { white-space:nowrap; }
#changelist table tbody td {  }
#changelist table tfoot { color: #666; }

/*  TOOLBAR  */
#changelist #toolbar { padding:3px; border-bottom:1px solid #ddd; /*background:#e1e1e1 url(../img/nav-bg.gif) top left repeat-x;*/ }
#changelist #toolbar form input { font-size:12px; padding:1px 2px; }
#changelist #toolbar form #searchbar { padding:2px; }
#changelist #changelist-search img { vertical-align:middle; }

/*  FILTER COLUMN  */
#id_filterbar li.selected {background: url(../img/next.gif) -5px 7px no-repeat;}
#id_filterbar li.selected a { color:#C3C3C3!important; }
#id_filterbar li.selected a:visited { color:#C3C3C3!important; }
#id_filterbar li ul li a:visited{ color:#000000!important; }


/*  DATE DRILLDOWN  */
.change-list ul.toplinks { display:block; background:white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x; border-top:1px solid white; float:left;  padding:0 !important;  margin:0 !important; width:100%; }
.change-list ul.toplinks li { float: left; width: 9em; padding:3px 6px; font-weight: bold; list-style-type:none; }
.change-list ul.toplinks .date-back a { color:#999; }
.change-list ul.toplinks .date-back a:hover { color:#036; }

/* PAGINATOR */
/*
.paginator { font-size:12px; padding-top:10px; padding-bottom:10px; line-height:22px; margin:0; border-top:1px solid #ddd; }
.paginator a:link, .paginator a:visited { padding:2px 6px; border:solid 1px #ccc; background:white; text-decoration:none; }
.paginator a.showall { padding:0 !important; border:none !important; }
.paginator a.showall:hover { color:#036 !important; background:transparent !important; }
.paginator .end { border-width:2px !important; margin-right:6px; }
.paginator .this-page { padding:2px 6px; font-weight:bold; font-size:13px; vertical-align:top; }
.paginator a:hover { color:white; background:#5b80b2; border-color:#036; }
*/
/*
td {vertical-align:bottom; }

th {vertical-align:bottom; padding-top: 2px; }
*/
#changelist-filter {padding-top: 1px; }
.cls_filter {padding-left:20px; }

#toolbar input.cls_op,#id_search_trans,#id_cleardept{
	padding-left: 18px;
	background:url(../img/magnifier.gif) 3px 50% no-repeat; 
	margin-left: 3px;
	float: left;
	height:25px !important;
	line-height:22px !important;
	border:1px solid #5B80B2;
	color:#000;
}




#toolbar .reloadlink,#toolbar .addlink,#toolbar .cls_op,#toolbar .clsalllink,#toolbar .exportlink,#toolbar .sellink,#toolbar .printlink,#toolbar .importlink,#toolbar .customlink,#toolbar .cls_op,#toolbar .searchlink,#nav .searchlink,#toolbar .schedule,#toolbar .tmp-schedule,#toolbar .addschclass,#toolbar .clearschclass {
padding-left:16px;
position:absolute;
padding-top:14px;
margin-top:2px;
margin-left:3px;
}
#id_chk_usrname{
height:25px !important;
line-height:22px !important;
border:1px solid #5B80B2;
color:#000;
background:#fff;

}
#toolbar input.cls_op[disabled]{
	background:url(../img/add_dis.png) 3px 50% no-repeat; 
	height:25px !important;
	line-height:22px !important;
	
	
}

#toolbar .cls_op#id_clearrec,#toolbar input.cls_op#aDelete,#id_cleardept {
	background:url(../img/close.png) 3px 50% no-repeat; 
}
#toolbar input.cls_op#id_clearrec[disabled] {
	background:url(../img/close_dis.png) 3px 50% no-repeat; 
	
}
#toolbar .reloadlink{
background:url(../img/load.png) no-repeat;
}#toolbar .searchlink,#nav .searchlink{
background:url(../img/magnifier.gif) no-repeat;
}
#toolbar .schedule{
 background:url(../img/read-y.gif) no-repeat;
}
#toolbar .tmp-schedule{
 background:url(../img/application_add.png) no-repeat;
}
#toolbar .addschclass{
 background:url(../img/new.gif) no-repeat;
}
#toolbar .clearschclass{
 background:url(../img/delete.gif) no-repeat;
}

#toolbar .addlink{
background:url(../img/icon_addlink.gif) no-repeat;
}

#toolbar .cls_op {
	background:url(../img/delete.png) no-repeat; 
}
#toolbar .importlink {
	background:url(../img/export.gif) no-repeat; 
}
#toolbar .exportlink {
	background:url(../img/export.gif) no-repeat; 
}

#toolbar input.cls_op#id_delete[disabled] {
	background:url(../img/close_dis.png) 3px 50% no-repeat; 
}
#toolbar .printlink {
	background:url(../img/printer.png) no-repeat;
}
#toolbar #id_query {
	background:url(../img/filter.gif) no-repeat;
}

#toolbar .clsalllink{
	background:url(../img/deletelink.gif) no-repeat; 
}
#toolbar .sellink{
	background:url(../img/selop.gif) no-repeat; 
}
#toolbar .customlink {
	background:url(../img/unlock.gif) no-repeat ;
padding-top:16px;

}



#toolbar input.cls_op#id_export[disabled] {
	background:url(../img/ext_dis.png) 3px 50% no-repeat; 
}
#toolbar #id_search_trans{
    background:url(../img/magnifier.gif) 3px 50% no-repeat;
}
