{% extends "data_edit.html" %}

{% block form %}
{% autoescape off %}
<tr>
{% for field in form %}
  {% ifequal forloop.counter0|divisibleby:"2" 0 %}<tr>{% endifequal %}
  {{ field|field_as_td_h:2 }}
  {% ifequal forloop.counter0|divisibleby:"2" 1 %}</tr>{% endifequal %}
{% endfor %}
</tr>
{% endautoescape %}
{% endblock %}

{% block add_contents %}
{% if form.non_field_errors %}
<tr>
<td colspan=20>
    {% autoescape off %}
       {{form.non_field_errors}}
    {% endautoescape %}
</td>
</tr>
{% endif %}


{% endblock %}
