{% extends "data_list.html" %}
{% load iclock_tags %}
{% load i18n %}
{% block tblHeader %}
//options.disableCols=["0","6","8"];
options.canEdit=false;
options.canAdd=false;
hd='({%trans 'After the submission of the operation need to be about half a minute or so of device in the entry into force'%})'
hasImport={% if user|HasPerm:"iclock.import_devlog" %}true{% else %}false{% endif %}
//jqOptions=copyObj(jq_Options)
jqOptions[g_activeTabID].colModel={{ colModel }}
tblName[g_activeTabID]='devlog';
jqOptions[g_activeTabID].sortname='OpTime';
jqOptions[g_activeTabID].sortorder="desc";
jqOptions[g_activeTabID].pager='#id_pager_'+tblName[g_activeTabID]
//show_left=false
function canEdit()
{
}

function strOfData_devlog(data)
{
	return "{% trans "device" %} "+data.Device+"{% trans "at" %} "+data.OpTime+"{% trans "transfer data log" %} ";
}

function ErrorLink(data)
{
	//return data[6];
}
//模糊查询
function searchShowDevlog(){
	var flag=$("#"+g_activeTabID+" #searchbar").attr('role');
	if (flag!='cansearch'&&flag!='defvalue') return;
	if (flag!='defvalue')
	    var v=$("#"+g_activeTabID+" #searchbar")[0].value;
	else
	    var v=""
    var url="/iclock/data/devlog/?q="+escape(v)
	savecookie("search_urlstr",url);
    $("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:url,datatype:"json"}).trigger("reloadGrid");
    
}

$(function(){
        var info='<p>1.设备上传日志，用于记录设备所上传的各种数据信息</p>'
        renderLeftInformation(info);
        smenu="<ul><li  class='subnav_on' onclick=submenuClick('/iclock/data/devlog/',this);><a href='#'>设备上传数据</a></li></ul>"
        $('#'+g_activeTabID+' #menu_div').html(smenu)
	
	//savecookie("search_urlstr",g_urls[g_activeTabID])
	
	if(!options.canAdd)$("#"+g_activeTabID+" #id_newrec").css('display','none');
	$("#"+g_activeTabID+" #searchButton").click(function(){
		    searchShowDevlog();
	});
	$("#"+g_activeTabID+" #searchbar").keypress(function(event){
		if(event.keyCode==13)
		searchShowDevlog();
	});
	$("#"+g_activeTabID+" #queryButton").hide()
	//$("#titleId").css("width","50px");
	$('#id_ComeTime_devlog').val(moment().startOf('month').format('YYYY-MM-DD HH:mm'))
	$('#id_EndTime_devlog').val(moment().endOf('day').format('YYYY-MM-DD HH:mm'))           
	$("#id_ComeTime_devlog").datetimepicker(datetimepickerOptions);
	$("#id_EndTime_devlog").datetimepicker(datetimepickerOptions);
	$("#"+g_activeTabID+" #id_search").click(function(){
		var ComeTime=$("#id_ComeTime_devlog").val();
		var EndDate=$("#id_EndTime_devlog").val();
		//$.cookie("ComeTime",ComeTime, { expires: 7 });
		//$.cookie("EndDate",EndDate, { expires: 7 });
		var isError=validate_form_devlog();
		var urlTime="";
		var urlTime1="";
		if(!isError){
			exporttag=1;
			urlTime1="OpTime__gte="+ComeTime+"&OpTime__lt="+EndDate
		}
		urlTime=urlTime1
		var url="/iclock/data/devlog/?"
		if (urlTime!="" &&  urlTime!=null)
			url+=urlTime;
		$("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:url,datatype:"json"}).trigger("reloadGrid");
		savecookie("search_urlstr",url);
	});
	
})
function validate_form_devlog(){   //验证表单的合法性(、开始时间、结束时间)
	var t_ComeTime=$("#id_ComeTime_devlog").val();
	var cTime=t_ComeTime.split("-");
	var t_EndDate=$("#id_EndTime_devlog").val();
	var eTime=t_EndDate.split("-");
	cdate=new Date(parseInt(cTime[0],10),parseInt(cTime[1],10)-1,parseInt(cTime[2],10));
	edate=new Date(parseInt(eTime[0],10),parseInt(eTime[1],10)-1,parseInt(eTime[2],10));
	if(cdate>edate || t_ComeTime=="" || t_EndDate==""){
		return 1;
	}else{
		return 0
	}
}

{% endblock %}


{% block otherQuery %}
	<span style='float:left;'>
					<span>
						<label >{%trans 'Begin Date'%}</label>
						<input type='text' name='ComeTime' maxlength='10' id='id_ComeTime_devlog' style='width:120px !important;'>
						<label  >{%trans 'End Date'%}</label>
						<input type='text' name='EndTime' maxlength='10' id='id_EndTime_devlog' style='width:120px !important;'>
					</span>
                                        <span id='id_search' ><a class='m-btn  zkgreen rnd mini'>{%trans 'Query'%}</a></span>
					
				</span>
	
				
				
				
				
{% endblock %}



