{% load iclock_tags %}
{% load i18n %}
<script type="text/javascript">
totalRecCnt_checkexact={{ item_count }};
item_from_checkexact={{ from }}
page_index_checkexact={{ page }};
page_limit_checkexact={{ limit }};
page_number_checkexact={{ page_count }};
$(function(){
var page_style=11;
$("#id_result_pages").html("<b>{% trans "Transaction Modify Records"%}&nbsp;&nbsp;</b>"+getPagers("", item_from_checkexact-1, totalRecCnt_checkexact, page_limit_checkexact, page_index_checkexact, page_number_checkexact,page_style,1));
});
</script>
<table>
<tr><td align="left" style="border:0px;">
    <div id="id_result_pages" style="float:left;"></div>
</td></tr>
<tr id="id_second"><td style="border:0px;">
    <table id="tbl">
        {% autoescape off %}
        <thead><tr><th>{% trans 'department name' %}</th><th>{% trans 'PIN' %}</th><th>{% trans 'EName' %}</th><th>{% trans 'Check time' %}</th><th>{% trans 'Check type' %}</th><th>{% trans 'reson' %}</th><th>{% trans 'Modify by' %}</th><th>{%trans "Modify date"%}</th></tr></thead> {% endautoescape %}
        {% for item in latest_item_list %}
            {%if forloop.counter|isOdd%}
                <tr class='row1'><td>{{ item.employee.Dept.DeptName }}</td><td>{{ item.employee.PIN }}</td><td>{{ item.employee.EName }}</td><td>{{ item.CHECKTIME }}</td><td>{{ item.CHECKTYPE|StateName }}</td><td>{{ item.YUYIN }}</td><td>{{ item.MODIFYBY }}</td><td>{{ item.DATE }}</td></tr>
            {%else%}
                <tr class='row2'><td>{{ item.employee.Dept.DeptName }}</td><td>{{ item.employee.PIN }}</td><td>{{ item.employee.EName }}</td><td>{{ item.CHECKTIME }}</td><td>{{ item.CHECKTYPE|StateName }}</td><td>{{ item.YUYIN }}</td><td>{{ item.MODIFYBY }}</td><td>{{ item.DATE }}</td></tr>
            {%endif%}
        {% endfor %}
        <tr></tr>
    </table>
</td></tr>
</table>