{% load iclock_tags %}
{% load i18n %}
{% autoescape off %}

<div id="id_form" >

<form method="post" id="id_edit_form" enctype="multipart/form-data">
<table>
<tr><th></th><td>
	<span  style="display:none" id="id_span_title">
		{% if add %}{% trans "Add" %}  {% else %} {% trans "Edit" %} {% endif %} {{ dataOpt.verbose_name|escape }}</span>
</td></tr>
	<tr>{{form.UserID|field_as_td_h:1 }}</tr>
	<tr>{{form.StartContractDay|field_as_td_h:1 }}</tr>
	<tr>{{form.EndContractDay|field_as_td_h:1 }}</tr>
	<tr>{{form.State|field_as_td_h:1 }}</tr>
	<tr>{{form.Type|field_as_td_h:1 }}</tr>
	<tr>{{form.Notes|field_as_td_h:1 }}</tr>
	<tr>{{form.ApplyDate|field_as_td_h:1 }}</tr>
</td>
</tr>
</table>
</form>
{% endautoescape %}

<div id="id_error"></div>


</div>
 