{% extends "data_list.html" %}
{% load i18n %}
<script>
{% load iclock_tags %}
{% block tblHeader %}

	jqOptions[g_activeTabID].colModel={{colModel}}
	tblName[g_activeTabID]='USER_OVERTIME';
	jqOptions[g_activeTabID].sortname='ApplyDate';
	jqOptions[g_activeTabID].sortorder="desc";
	jqOptions[g_activeTabID].pager="id_pager_"+tblName[g_activeTabID]
	//dtFields = "{{ dtFields }}"
	OVERTIME_Status=['{%trans "Apply"%}','{%trans "Accepted"%}','{%trans "Refused"%}','{%trans "Again"%}']
	OVERTIONE_Status_Code=[0,2,3,6]
	
	
	function createNewDlg_USER_OVERTIME(){
                var title="{%trans '新增加班' %}";
                createDlgdeptfor('USEROverTime_off_add',1)
                $('#dlg_for_query_USEROverTime_off_add').dialog({title:title,
                        buttons:[
                                {id:"btnShowOK",text:"{% trans "save and return" %}",click:function(){ if(typeof beforePost_USER_OVERTIME=="function"){if(beforePost_USER_OVERTIME(this,"_new_")==false) return ;}  SaveFormData(this,g_urls[g_activeTabID]+"_new_/",'edit','USER_OVERTIME');  }},
                                {id:"btnShowCancel",text:'{%trans "Return" %}',click:function(){$(this).dialog("destroy"); }}
                        ]
                })
                createDlgother_USER_OVERTIME('USEROverTime_off_add')
        }
	
	function createDlgother_USER_OVERTIME(page){
		var html="<div id='id_form'><div class='module' style='position:relative;'>"
			+"<table id='id_overtime'><tr>"
			+"<td style='vertical-align:top;color:black;'><div id='show_dept_emp_tree'></div></td><td style='vertical-align:top;'><div id='id_conditions'><form id='id_edit_form' method='POST'><table id='id_setField'>"
				+"<tr><td><label for='id_StartOTDay' class='required'>{% trans 'Begin time'%}</label></td></tr>"
				+"<tr><td><input id='id_StartOTDay'  type='text'  value='' maxlength='20' name='StartOTDay'  style='width:135px !important;'/></td><br /></tr>"
		
				+"<tr><td><label for='id_EndOTDay' class='required'>{% trans 'End time'%}</label></td></tr>"
				+"<tr><td><input id='id_EndOTDay'  type='text'  value='' maxlength='20' name='EndOTDay' style='width:135px !important;'/></td><br /></tr>"
					
				+"<tr><td><label for='id_AsMinute' class='required'>{% trans 'As Minute'%}</label></td></tr>"
				+"<tr><td><input id='id_AsMinute'  type='text'  value='0'  name='AsMinute' style='width:135px !important;'/></td></tr>"
				
				+"<tr><td><label for='id_YUANYING'>{% trans 'Reson'%}</label></td></tr>"
				+"<tr><td><input type='text' style='width:135px !important;' id='id_YUANYING' name='YUANYING' value='' /></td></tr>"
				
				+"<tr><td><label for='id_ApplyDate' >{% trans 'ApplyDate'%}</label></td></tr>"
				+"<tr><td><input id='id_ApplyDate'  type='text' value='' maxlength='20' name='ApplyDate' style='width:135px !important;' readonly='readonly'/></td><br /></tr>"
		
				+"<tr><td></td></tr>"
				+"<tr><td colspan='2'>"
				+"<input type='hidden' id='id_userid' value='' name='UserID' />"
				+"</td></tr>"
				+"<tr><td colspan='2'><span id='id_error'></span></td>"
			+"</table></form></td>"
			+"</tr></table></div></div>";
			
		$("#dlg_other_body_"+page).html(html)
                $("#dlg_other_title_"+page).addClass('cascadecheck')
                $("#dlg_other_"+page).css("width",'220')
                $("#dlg_emp_"+page).css("width",'470')
                $("#dlg_other_"+page).css("height",$("#dlg_emp_"+page).height())
                $("#dlg_other_"+page).addClass('dlgempdiv')
                $("#dlg_for_query_"+page).dialog({dialogClass: "",width:'982',height:'450'})
                $("#dlg_other_"+page).position({
                        my: "left top",
                        at: "right top",
                        of: "#dlg_emp_"+page
                });
		
		var currDate=new Date();
		td=currDate.getFullYear()
			+"-"
			+(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
			+"-"
			+(currDate.getDate()<10?"0"+currDate.getDate():currDate.getDate())
			+" ";
		$("#id_ApplyDate").val(td+" "+(currDate.getHours()<10?"0"+currDate.getHours():currDate.getHours())
			+":"
			+(currDate.getMinutes()<10?"0"+currDate.getMinutes():currDate.getMinutes())
			+":"
			+(currDate.getSeconds()<10?"0"+currDate.getSeconds():currDate.getSeconds()));
		$("#id_ApplyDate").css('background','#E3E3E3').css('color','#B8AF9F');
		$("#id_StartOTDay").val(td+"00:00");
		$("#id_EndOTDay").val(td+"23:59");
		$("#id_StartOTDay").datetimepicker(datetimepickerOptions);
		$("#id_EndOTDay").datetimepicker(datetimepickerOptions);
        }
	
	if('{{approval}}'!='0'){
		currentState=-2;
	}else{
		currentState=-1;
	}
	function showState_USER_OVERTIME(newState)
	{	
		if(currentState==newState) return;
		currentState=newState;
		createFilter_USER_OVERTIME();
		if (newState>=0)
			var url=g_urls[g_activeTabID]+"?State="+OVERTIONE_Status_Code[newState]+"&filtertag=0"+"&UserID__DelTag__lt=1";
		else if(newState==-1)
			var url=g_urls[g_activeTabID]+"?UserID__DelTag__lt=1";
		else if(newState==-2)
			var url=g_urls[g_activeTabID]+"?filtertag=1"+"&UserID__DelTag__lt=1";
		else if(newState==-3)
			var url=g_urls[g_activeTabID]+"?filtertag=2"+"&UserID__DelTag__lt=1"
		else if(newState==-4)
			var url=g_urls[g_activeTabID]+"?filtertag=3"+"&UserID__DelTag__lt=1";
	    $("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:url,datatype:"json"}).trigger("reloadGrid");
	}
	function createFilter_USER_OVERTIME(){
		var html="<li style=' border: 0px solid white;'><a href='#' style='color: #000;background:white;padding-left:0;'>{% trans 'OverTime Status' %}</a>"
			+"<ul><li "+(currentState==-1?"class='selected'":"")+"><a href='#' onclick='showState_USER_OVERTIME(-1)'>{%trans "All"%}</a></li>";
		for(i=0;i<=3;i++)
			html+="<li "+(currentState==i?"class='selected'":"")+"><a href='#' onclick='showState_USER_OVERTIME("+i+")'>"+OVERTIME_Status[i]+"</a></li>";
		if('{{approval}}'!='0'){html+="<li "+(currentState==-2?"class='selected'":"")+"><a href='#' onclick='showState_USER_OVERTIME(-2)'>{% trans "processState"%}</a></li>";}
		if('{{approval}}'!='0'){html+="<li "+(currentState==-3?"class='selected'":"")+"><a href='#' onclick='showState_USER_OVERTIME(-3)'>{% trans "越级查看"%}</a></li>";}
		if('{{approval}}'!='0'){html+="<li "+(currentState==-4?"class='selected'":"")+"><a href='#' onclick='showState_USER_OVERTIME(-4)'>{% trans "经我审核"%}</a></li>";}
		$("#"+g_activeTabID+" #id_filterbar").html(html+'</ul></li>');
	}
	function department_tree(){
		var title="";
		var urlStr=g_urls[g_activeTabID];
		createDlgdeptfor('USER-OVERTIME')
		$('#dlg_for_query_USER-OVERTIME').dialog({
			title:'员工加班',
			buttons:[{id:"btnShowOK",text:gettext('确定'),click:function(){getSelectData();}},
				{id:"btnShowCancel",text:gettext('Return'),click:function(){$(this).dialog("destroy"); }
				}]
		})	
	}
	function getSelectData(){
		var dept_ids=getSelected_dept("showTree_USER-OVERTIME")
		$.cookie("dept_ids",dept_ids, { expires: 7 });
		var dept_names=getSelected_deptNames("showTree_USER-OVERTIME");
		$("#department").val(dept_names);
		var emp = getSelected_emp_ex('USER-OVERTIME')
		$.cookie("emp",emp, { expires: 7 });
		if($("#id_cascadecheck_USER-OVERTIME").prop("checked")){
			$("#id_cascadecheck").prop("checked", "true");
		} else {
			$("#id_cascadecheck").removeAttr("checked");
		}
		dlgdestroy('USER-OVERTIME')
	}
	function afterPost_USER_OVERTIME(flag,obj){
		$("#id_YUANYING",obj).val("")
	}
	
        function validate_form_USER_OVERTIME(){   //验证表单的合法性(人员(可不选，在计算项目中计算选中单位的人员，其他的就默认值0)、开始时间、结束时间)
                var t_ComeTime=$("#id_ComeTime_overtime").val();
                var cTime=t_ComeTime.split("-");
                var t_EndDate=$("#id_EndTime_overtime").val();
                var eTime=t_EndDate.split("-");
                cdate=new Date(parseInt(cTime[0],10),parseInt(cTime[1],10)-1,parseInt(cTime[2],10));
                edate=new Date(parseInt(eTime[0],10),parseInt(eTime[1],10)-1,parseInt(eTime[2],10));
                var days=(edate.valueOf()-cdate.valueOf())/(1000*3600*24)+1;
                if(cdate>edate || t_ComeTime=="" || t_EndDate==""||!valiDate(t_ComeTime)||!valiDate(t_EndDate)){
                        return 1;
                }else{
                        return 0
                }
        }

	$(function(){
		var info='<div class="west_info"><p>1.人员加班：加班的人员需要填写加班单</p><p>2.加班单可进行多级审批，审批通过后才加班数据计入统计数据中</p><p>3.如果无需审批，可以在系统设置中，将支持请假自动审批进行勾选，这样设置之后，新增加的加班单无需审批，直接为通过状态</p></div>'
                renderLeftInformation(info);
		$("#"+g_activeTabID+" #searchButton").click(function(){
		   searchShowOverTime();
		});
		$("#"+g_activeTabID+" #searchbar").keypress(function(event){
		   if(event.keyCode==13)
		  searchShowOverTime();
		});
		$("#tab_iclock_User_OverTime #id_reload").click(function(){
                        var ComeTime=$("#id_ComeTime_overtime").val();
                        var EndDate=$("#id_EndTime_overtime").val();
                        if(ComeTime>EndDate) {
                            alert('开始时间不能大于结束时间')
                            return
                        } else{
                            reloadData('USER_OVERTIME')
                        }
                });
		$("#"+g_activeTabID+" #searchbar").val(gettext("考勤编号,身份证号,姓名"))
		$("#"+g_activeTabID+" #id_newrec").click(function(event){
			createNewDlg_USER_OVERTIME();
		});
		
                var currDate=new Date();
                var dateTime=currDate.getFullYear()
                        +"-"
                        +(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
                        +"-01"
                $("#id_ComeTime_overtime").val(dateTime)
                var dateTime=currDate.getFullYear()
                        +"-"
                        +(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
                        +"-"
                        +(currDate.getDate()<10?"0"+currDate.getDate():currDate.getDate())
                $("#id_EndTime_overtime").val(dateTime)
                $("#id_ComeTime_overtime").datepicker(datepickerOptions);
                $("#id_EndTime_overtime").datepicker(datepickerOptions);		
		
		$("#"+g_activeTabID+" #id_export").css('display','block');
		//if(hasImport)$("#id_export").after('<LI id="id_print" class="button-print"> <SPAN></SPAN>{%trans "Print"%}</LI>');
		//	  $("#id_print").click(function(){
		//			var urlstr=$.cookie("search_urlstr");
		//			if(urlstr.indexOf("/data/")!=-1){
		//				urlstr=urlstr.replace("/data/","/att/print/");
		//			}else if(urlstr.indexOf("/att/")!=-1){
		//				urlstr=urlstr.replace("/att/","/att/print/")
		//			}
		//			window.open(urlstr);
		//		});
		if('{{approval}}'!='0'){$("#id_custom").after('<li id="id_quanbu"><span  class="icon iconfont icon-select"></span>{%trans "全部记录"%}</li>');
		$("#"+g_activeTabID+" #id_custom").after('<li id="id_dengdai"><span  class="icon iconfont icon-select"></span>{%trans "等待审核记录"%}</li>');}
		$("#"+g_activeTabID+" #id_clearrec").css('display','none');
		var width=$("#"+g_activeTabID+" #id_content").width();
		

		$("#"+g_activeTabID+" #id_quanbu").click(function(){
			showState_USER_OVERTIME(-1)
		})
		$("#"+g_activeTabID+" #id_dengdai").click(function(){
			showState_USER_OVERTIME(-2)
		})
		$("#"+g_activeTabID+" #id_search").click(function(){
			var emp="";
			var deptIDs=$.cookie("dept_ids");
			//if (deptIDs!=null){
				//emp=getSelected_emp();
			//}
			emp=$.cookie("emp");
			var ischecked=0;
			if($("#id_cascadecheck_"+g_activeTabID).prop("checked"))
				ischecked=1;
			if(deptIDs==undefined)
				deptIDs=''
			var deptnames=$("#department").val();
			if (deptnames==undefined)
				deptnames='';
			if( typeof(emp)=="object")
			{
				var maxUrlLength=(20*1024);
				while((emp.join(",").length>maxUrlLength))
					emp.pop(0);
			}
		
			var urlStr="";
			urlStr="deptIDs="+deptIDs+"&isContainChild="+ischecked+"&UserID__id__exact="+emp+"&UserID__DelTag__lt=1"
			var url="/iclock/data/USER_OVERTIME/?"
		
			if (urlStr!="" &&  urlStr!=null)
				url+=urlStr;
			$("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:url,datatype:"json"}).trigger("reloadGrid");
			savecookie("search_urlstr",url);
			
		});
			
		$("#"+g_activeTabID+" #id_filtername").css("display","block")	
		createFilter_USER_OVERTIME(-1)
		

		
	    
	});

//模糊查询
	function searchShowOverTime(){
		var flag=$("#"+g_activeTabID+" #searchbar").attr('role');
		if (flag!='cansearch'&&flag!='defvalue') return;
		if (flag!='defvalue')
		    var v=$("#"+g_activeTabID+" #searchbar")[0].value;
		else
		    var v=""
		var ComeTime=$("#id_ComeTime_overtime").val();
                var EndDate=$("#id_EndTime_overtime").val();
                var isError=validate_form_USER_OVERTIME();
                var urlTime1="";
                if(!isError){
		       urlTime1="startdate="+ComeTime+"&"+"enddate="+EndDate
                } else{
					alert('开始时间不能大于结束时间')
					return
				}
		var url="/iclock/data/USER_OVERTIME/?q="+escape(v)+"&"+urlTime1+"&UserID__DelTag__lt=1"
		savecookie("search_urlstr",url);
		$("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:url,datatype:"json"}).trigger("reloadGrid");
	}
	function createQueryDlg_USER_OVERTIME(){
	createDlgdeptfor10('employee_search',1)
	$('#dlg_for_query_employee_search').dialog({
	buttons:[{id:"btnShowOK",text:gettext('搜索'),
	  click:function(){searchbydept_USER_OVERTIME('employee_search');$(this).dialog("destroy"); }},
	 {id:"btnShowCancel",text:gettext('Return'),click:function(){$(this).dialog("destroy"); }
	}] })
        }

        function searchbydept_USER_OVERTIME(page){
		var ComeTime=$("#id_ComeTime_overtime").val();
                var EndDate=$("#id_EndTime_overtime").val();
                var isError=validate_form_USER_OVERTIME();
                var urlTime1="";
                if(!isError){
		       urlTime1="startdate="+ComeTime+"&"+"enddate="+EndDate
                }
                        
		var url="/iclock/data/USER_OVERTIME/?"+urlTime1
                
		var emp=getSelected_emp_ex("sel_employee_search");
		if(emp.length>0){
			url+="&UserID__in="+emp
		}
		savecookie("search_urlstr",url);
		$("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:url,datatype:"json"}).trigger("reloadGrid");
        }



	function strOfData_USER_OVERTIME(data)
	{
		return stripHtml(data.PIN)+" "+data.EName+' '+data.StartOTDay+' '+data.EndOTDay;
	}
	//<!-- function canEdit() -->
	//<!-- { -->
	//	<!-- if(!options[g_activeTabID].canEdit) return 0; -->
	//	<!-- var rows=$("#id_grid_"+tblName[g_activeTabID]).jqGrid("getCol",options[g_activeTabID].edit_col+1,true) -->
	//	<!-- for(var i=0;i<rows.length;i++) -->
	//	<!-- { -->
	//		<!-- var id=rows[i].id; -->
	//		<!-- var r=$("#id_grid_"+tblName[g_activeTabID]).jqGrid("getRowData",id) -->
	//		<!-- if(r.State==OVERTIME_Status[0]||r.State==OVERTIME_Status[3]||r.State==OVERTIME_Status[2]){ -->
	//			<!-- var colData=rows[i].value; -->
	//			<!-- var apage="<a class='can_edit' href='#' onclick='editclick("+id+")'>"+colData+"  "+"</a>" -->
	//			<!-- $("#id_grid_"+tblName[g_activeTabID]).jqGrid('setRowData',id,{PIN:apage}) -->
	//		<!-- } -->
	//	<!-- } -->
	//<!-- } -->
	function beforePost_USER_OVERTIME(obj,actionName){
			if(validateForm_user_overtime(obj)==1)
			{
				$("#id_error",obj).css("display","block");
				$("#id_error",obj).html("<ul class='errorlist'><li>{%trans 'Enter a valid date/time' %}</li></ul>");					
				return false;	
			}else if(validateForm_user_overtime(obj)==2){
				$("#id_error",obj).css("display","block");
				$("#id_error",obj).html("<ul class='errorlist'><li>{%trans 'End time less than begin time' %}</li></ul>");					
				return false;	
				
			}
			if(actionName=="_new_"){
				var deptid=getSelected_dept("showTree_USEROverTime_off_add");
                                var emp=getSelected_emp_ex("USEROverTime_off_add");
                                $("#id_userid",obj).val(emp);
				if(emp.length==0){
					$("#id_error",obj).css("display","block");
					$("#id_error",obj).html("<ul class='errorlist'><li>{%trans 'Please select one or more employee!'%}</li></ul>");
					return false;
				}
				else{
					$("#id_error",obj).css("display","none");
					$("#id_userid",obj).val(emp);
				}
			}else {
	
				}
	
		
	}

	function process_dialog_USER_OVERTIME(obj,flag)
	{
	    $(obj).dialog({resizable:false,modal:true})
	 
	var currDate=new Date();
	td=currDate.getFullYear()
	       +"-"
	       +(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
	       +"-"
	       +(currDate.getDate()<10?"0"+currDate.getDate():currDate.getDate())
	       +" "
	       +(currDate.getHours()<10?"0"+currDate.getHours():currDate.getHours())
	       +":"
	       +(currDate.getMinutes()<10?"0"+currDate.getMinutes():currDate.getMinutes())
	       +":"
	       +(currDate.getSeconds()<10?"0"+currDate.getSeconds():currDate.getSeconds())
	 
	$("#id_ApplyDate",obj).val(td);
	
	var leng=arguments.length;
	begin=$("#id_StartOTDay",obj).val();
	end=$("#id_EndOTDay",obj).val();
	reson=$("#id_YUANYING",obj).val();
	apply=$("#id_ApplyDate",obj).val();
	 $("#id_ApplyDate",obj).css('background','#E3E3E3').css('color','#B8AF9F');
	minute=$("#id_AsMinute",obj).val();
	username=''//$("#id_UserID",obj).get(0).options[$("#id_UserID",obj).get(0).selectedIndex].text;
	if(flag=='edit'){
	
	       $("#id_ApplyDate",obj).attr('readonly', true);   
	       options[g_activeTabID].dlg_width=400;
	       options[g_activeTabID].dlg_height=370;
	}
	$("#id_StartOTDay",obj).datetimepicker(datetimepickerOptions);
	$("#id_EndOTDay",obj).datetimepicker(datetimepickerOptions);
	
	 
	}
	function validateForm_user_overtime(obj){
		apply=$("#id_ApplyDate",obj).val();
	    var t_ComeTime=$("#id_StartOTDay",obj).val();
	    var t_EndDate=$("#id_EndOTDay",obj).val();
        var cdate=new Date(t_ComeTime.replace(/-/g,"/"))
        var edate=new Date(t_EndDate.replace(/-/g,"/"))
	    var days=(edate.valueOf()-cdate.valueOf())/(1000*3600*24)+1;
		if(t_ComeTime=="" || t_EndDate==""){
			return 1;
		}else if(cdate>edate){
			return 2;
		}else{
			return 0;
		}
		
	}
	extraBatchOp=[
		{caption:'{%trans "加班数据相关操作"%}',
			submenu:[
			{% if user|HasPerm:"iclock.overtimeAudit_user_overtime" %}
				{action: '"?action=overtimeAudit&to=Accept"', title: '{%trans "Audit: Over Accept"%}'},
				{action: '"?action=overtimeAudit&to=Refuse"', title: '{%trans "Audit: Over Refuse"%}'},
				{action: '"?action=overtimeAudit&to=Again"', title: '{%trans "Audit: Over Apply Again"%}'}
			{% endif %}
		]}
	];


{% endblock %}
</script>



<script>
{% block loadData %}
	html="<span id=id_opt_tree><input type='checkbox' id='id_cascadecheck_"+g_activeTabID+"'/>{%trans '级联下级单位' %}</span>"
	$("#"+g_activeTabID+" #id_west").html(html)
	html="<div id='show_dept_tree_'>"
		+"<ul id='showTree_"+g_activeTabID+"'"
                +" class='ztree' style='margin-left: 0px;height:100%;'></ul>"
		+"</div>"   
	$("#west_content_tab_iclock_User_OverTime").html(html)

	//var h=$("#west_content").height()-20
	//$("#showTree_"+g_activeTabID).css('height',h)

        ShowDeptData(g_activeTabID)
        loadNULLPage('#id_grid_'+tblName[g_activeTabID]);
	var zTree = $.fn.zTree.getZTreeObj("showTree_"+g_activeTabID);
	zTree.setting.check.enable = false;
	zTree.setting.callback.onClick = function onClick(e, treeId, treeNode){
		var deptID=treeNode.id;
		var deptName=treeNode.name;
		$.cookie("dept_ids",deptID, { expires: 7 });
		var ischecked=0;
		if($("#id_cascadecheck_"+g_activeTabID).prop("checked"))
			ischecked=1;
  
                var ComeTime=$("#id_ComeTime_overtime").val();
                var EndDate=$("#id_EndTime_overtime").val();
                $.cookie("ComeTime",ComeTime, { expires: 7 });
                $.cookie("EndDate",EndDate, { expires: 7 });
                var isError=validate_form_USER_OVERTIME();
                
                var urlTime="";
                var urlTime1="";
                if(!isError){
                       exporttag=1;
		       urlTime1="startdate="+ComeTime+"&"+"enddate="+EndDate
                        urlTime="&"+urlTime1
                } else{
					alert('开始时间不能大于结束时间')
					return
				}
                        
		var urlStr="/iclock/data/USER_OVERTIME/?deptIDs="+deptID+"&isContainChild="+ischecked+urlTime+"&UserID__DelTag__lt=1"
                newState=currentState
                if (newState>=0)
                        urlStr=urlStr+"&State="+Leave_Status_Code[newState]+"&filtertag=0";
                else if(newState==-1)
                        urlStr=urlStr;
                else if(newState==-2)
                        urlStr=urlStr+"&filtertag=1"
                else if(newState==-3)
                        urlStr=urlStr+"&filtertag=2";
                else if(newState==-4)
                        urlStr=urlStr+"&filtertag=3";
                       
		savecookie("search_urlstr",urlStr);

		//$.blockUI({title:'',theme: true ,message: '<h1><img src="/iclock/media/img/loading.gif" /> <br>{%trans 'Please wait...'%}<br /></h1>'});
		 $("#id_grid_"+tblName[g_activeTabID]).jqGrid('setGridParam',{url:urlStr,datatype: "json"}).trigger("reloadGrid");
		//$.unblockUI()
	}
{% endblock %}


{% block otherQuery %}

		<div class="s-info left" id="time_area">			
                                 <span>
                                       <label  >{%trans 'Begin Date'%}</label>
                                        <input type='text' name='ComeTime' maxlength='10' id='id_ComeTime_overtime' style='width:80px !important;'>
                                        <label  >{%trans 'End Date'%}</label>
                                        <input type='text' name='EndTime' maxlength='10' id='id_EndTime_overtime' style='width:80px !important;'>
					
					<!--
                                        &nbsp;&nbsp;&nbsp;&nbsp;<select name='id_date' id='id_date'><option value='StartOTDay'>开始时间</option><option value='EndOTDay'>结束时间</option><option value='ApplyDate'>申请时间</option></select>
					-->
      
                                </span>
                                
                        </div>
                             

{% endblock %}


</script>
