{% extends "data_edit_1c.html" %}

{% block add_contents %}
		<br/>
		<h3>首人常开 </h3><br />
		<p>在指定时间段内，当有首人常开权限的人员第一次验证通过后，门将常开，有效时间段结束后门将自动恢复关闭。</p> <br />
		<p>用户可以对某个具体的门进行首卡常开设置，该设置包含了门、开门的时间段和具有首卡常开的人员。一个门可以通过时间段内时间区间实现多个首卡常开设置。每个门的页面上均会显示当前已存在的首人常开设置的数量。对于每条记录而言，新增或者编辑时，“当前门”无需修改，只需要选择时间段即可。记录添加成功后，再针对某个首人常开设置的记录添加能开门的人员。记录右侧图标右侧能够浏览某个首人常开设置中开门人员的同时也能够对当前人员进行删除，以使某些人员不再具有首人常开的权限。 </p><br />
		<p>在首卡常开主界面添加人员设置具有首卡常开权限的人员，该人员必须首先具有门禁权限方可进行首卡开门。<br /><br /></p> 
		<div class="alignC"> </div>
		<ol>
			<p><b>注意：</b>在手动解除了门的常开状态后，当天时间内其他门常开时间区间以及首卡常开设置不再生效；刷卡或者指纹都可以通过。</p>
		</ol><br />



{% endblock %}
