{% extends "data_edit_1c.html" %}
 
{% block add_contents %}
		<br/>
		<h3>互锁设置 </h3><br />
		<p>可设置一个控制器上的两个（多个）门之间的互锁管制，当其中一个门开启时，其他对应的门都关闭，当要开启一个门时，其他对应的门必须都是关闭的，否则无法开门。</p><br />
		<p>设置互锁前请确保已经按照控制器《安装指南》连接好门磁，并在门管理中设置门磁状态为常开或者常闭。</p><br />
		<p>选择设备，显示互锁设置，因为一个设备只能对应一条互锁设置的记录，所以在新增时，在设备的下拉列表中时无法看到已经进行过互锁设置的设备。删除已设置的互锁信息，对应的设备将重新回到下拉列表中。设置界面因为所选设备控制的门数不同而不同： </p><br />
		<p>单门控制器无互锁设置； </p><br />
		<p>双门控制器：1-2两门互锁设置； </p><br />
		<p>四门控制器：1-2两门互锁、3-4两门互锁、1-2-3三门互锁、1-2-3-4四门互锁； </p><br />
		<p>例如选择1-2-3-4四门互锁，则在门3打开时，门1、2、4都关闭。 </p><br />
		<ol>
			<p><b>说明：</b>编辑时不能修改设备，只能修改互锁设置，如果不需要再对该设备应用互锁设置，需将该条互锁设置记录删除。当删除某个设备记录时，如果其存在互锁设置记录，则会一并删除。 </p>
		</ol><br /><br />

{% endblock %}
