{% load iclock_tags %}
{% load i18n %}
{% block content_title %}{% endblock %}
<script>
function ActionHint(action, aName){return ""}
pageQueryString=location.search;
var groupHeaders=[]

jqOptions[g_activeTabID]=copyObj(jq_Options);
jqOptions[g_activeTabID].rowNum={{limit}}

canDefine={% if user|HasPerm:"iclock.preferences_user" %}true{% else %}false{% endif %}
{% autoescape off %}
{% endautoescape %}
isSelectAll=false;
extraBatchOp=[];
//tblName="";
tblName[g_activeTabID]='{{reportName}}';

var Custom_Jqgrid_Height=""
var page_tab=""

jqOptions[g_activeTabID].rowList=[]
jqOptions[g_activeTabID].pager='id_pager_report_acc_exception'

function validate_form_acc_exception(){   //验证表单的合法性(人员(可不选，在计算项目中计算选中部门的人员，其他的就默认值0)、开始时间、结束时间)
	var t_ComeTime=$("#"+g_activeTabID+" #id_ComeTime").val();
	if(t_ComeTime==""){
		t_ComeTime="2012-01-01"
	}
	var cTime=t_ComeTime.split("-");
	var t_EndDate=$("#"+g_activeTabID+" #id_EndTime").val();
	if(t_EndDate==""){
		t_EndDate="2212-01-01"
	}
	var eTime=t_EndDate.split("-");
	cdate=new Date(parseInt(cTime[0],10),parseInt(cTime[1],10)-1,parseInt(cTime[2],10));
	edate=new Date(parseInt(eTime[0],10),parseInt(eTime[1],10)-1,parseInt(eTime[2],10));
	var days=(edate.valueOf()-cdate.valueOf())/(1000*3600*24)+1;
	if(cdate>edate || t_ComeTime=="" || t_EndDate==""||!valiDate(t_ComeTime)||!valiDate(t_EndDate)||days>31){
		return 1;
	}else{
		return 0
	}
}
{% block RenderReportGrid %}

function RenderReportGrid(urlStr){
    $("#id_grid_report").jqGrid("GridUnload")
    //$.jgrid.gridUnload("#id_grid")
    
	if(urlStr.indexOf("?")!=-1){
		urlStr=urlStr+"&stamp="+moment().unix();
	}
	else{
		urlStr=urlStr+"?stamp="+moment().unix();
	}
    
    $.ajax({
	    type:"GET",
	    url:urlStr+"&title=1",
	    dataType:"json",
	    success:function(json){
		    jqOptions[g_activeTabID]=copyObj(jq_Options)
		    grid_disabledfields[g_activeTabID]=json['disabledcols']
		    jqOptions[g_activeTabID].colModel=json['colModel']
			
			jqOptions[g_activeTabID].pager='id_pager_report_acc_exception'
			
		    var groupHeaders=[]

		    if (json['groupHeaders'])
			var groupHeaders=json['groupHeaders']
		    
		    get_grid_fields(jqOptions[g_activeTabID])
		    hiddenfields(jqOptions[g_activeTabID])
		    jqOptions[g_activeTabID].url=urlStr 
		    var hcontent=$("#"+g_activeTabID+" #id_content").height();
		    var hbar=$("#"+g_activeTabID+" #id_top").height();
		    var height=hcontent-hbar-65;
		    if (groupHeaders.length>0)
		     height=height-30;
		    
		    if(typeof(Custom_Jqgrid_Height)!='undefined'&&Custom_Jqgrid_Height!=""){
			    jqOptions[g_activeTabID].height=Custom_Jqgrid_Height;
		    }else{jqOptions[g_activeTabID].height=height;}
		    
		    jqOptions[g_activeTabID].sortname='TTime'//getSidx('original_records')
			jqOptions[g_activeTabID].url=urlStr 
			
		    $("#id_grid_report").jqGrid(jqOptions[g_activeTabID]);
		    $("#id_grid_report").jqGrid('setFrozenColumns');
		    $("#id_grid_report").jqGrid('setGroupHeaders', {useColSpanStyle: true,groupHeaders:groupHeaders})
	 }
    });        
}
{% endblock %} 
	

$(function(){
	
	
	
	$("#id_export_report_acc_exception").iMenu();
	$("#"+g_activeTabID+" #searchButton").click(function(){
	    searchShowReport();
	});
	$("#"+g_activeTabID+" #searchbar").keypress(function(event){
		if(event.keyCode==13)
		searchShowReport();
	 
	});

	$("#id_reload_report_acc_exception").click(function(){
		reloadData("report",'/acc/report/acc_exception/?event_no__gte=20&event_no__lt=200&stamp='+moment().unix());
	});




	var currDate=new Date();
	var dateTime=currDate.getFullYear()
		+"-"
		+(currDate.getMonth()+1<10?"0"+(currDate.getMonth()+1):currDate.getMonth()+1)
		+"-"
		
	
		$("#"+g_activeTabID+" #id_ComeTime").val(dateTime+"01")
		$("#"+g_activeTabID+" #id_EndTime").val(dateTime+(currDate.getDate()<10?"0"+currDate.getDate():currDate.getDate()))
	
	
	
	$("#"+g_activeTabID+" #id_ComeTime").datepicker(datepickerOptions);
	$("#"+g_activeTabID+" #id_EndTime").datepicker(datepickerOptions);
	
		
	if(!canDefine) $('#'+g_activeTabID+' #id_custom').remove()
	var hcontent=$("#"+g_activeTabID+" #id_content").height();
	var hbar=$("#"+g_activeTabID+" #id_top").length>0?$("#"+g_activeTabID+" #id_top").height():0;
	var h=hcontent-hbar
	$('.report_acc_exception_module').css('height',h)
	
	//get_grid_fields(jqOptions);           //此句应该在下一句的前面
	
	//g_urls[g_activeTabID]="/acc/data/records/?event_no__gte=20&event_no__lte=200"
	urlStr=g_urls[g_activeTabID]+"?event_no__gte=20&event_no__lt=200"
	savecookie("search_urlstr",urlStr);
	
	//loadPageData();
	RenderReportGrid(urlStr)
	
	$("#id_reload_"+tblName[g_activeTabID]).click(function(){
		reloadData();
	});
	$("#"+g_activeTabID+" #id_custom").click(function(){
		ShowCustomField();
	});
	
	$("#"+g_activeTabID+" #queryButton").click(function(){
		//createQueryDlg();
	});

	
	//根据条件查询考勤记录
	$("#"+g_activeTabID+" #id_search").click(function(){
		queryShowReport()
	});
                	

 
});

function resetError()
{
	$("#"+g_activeTabID+" #id_error").hide();
	$("#"+g_activeTabID+" #id_error").html('')

}

$("#"+g_activeTabID+" #searchbar").focus(function(){
    var searchbar_text = $("#"+g_activeTabID+" #searchbar").val();
    if(searchbar_text=="工号,姓名"){
      $("#"+g_activeTabID+" #searchbar").val("");
    }
  });
$("#"+g_activeTabID+" #searchbar").blur(function(){
    var searchbar_value = $("#"+g_activeTabID+" #searchbar").val();
    if(searchbar_value==""){
      $("#"+g_activeTabID+" #searchbar").val("工号,姓名")
    }
  });

function searchShowReport(){
	var flag=$("#"+g_activeTabID+" #searchbar").attr('role');
	if (flag!='cansearch'&&flag!='defvalue') return;
	if (flag=='defvalue'){
	    var v=$("#"+g_activeTabID+" #searchbar")[0].value;
		if(v=='工号,姓名') {
			v=""
		}
	}
	else
	    var v=""
	
	
	var ComeTime=$("#"+g_activeTabID+" #id_ComeTime").val();
	var EndDate=$("#"+g_activeTabID+" #id_EndTime").val();
	var isError=validate_form_acc_exception();
	$.cookie("ComeTime",ComeTime, { expires: 7 });
	$.cookie("EndDate",EndDate, { expires: 7 });
	$("#"+g_activeTabID+" #id_con_error").css("display","none");
	urlStr=g_urls[g_activeTabID]
	if(!isError)
		urlStr+="?event_no__gte=20&event_no__lte=200&TTime__gte="+ComeTime+"&TTime__lt="+EndDate
	if (urlStr.indexOf('daily_devices')!=-1){
		var CheckDate=$("#"+g_activeTabID+" #id_CheckTime").val();
		urlStr+="&checkDate="+CheckDate
	}	
	if(urlStr.indexOf("?")==-1){
		urlStr+="?q="+escape(v)
	}
	else{
		urlStr+="&q="+escape(v)
	}
	savecookie("search_urlstr",urlStr);
	$("#id_grid_report").jqGrid('setGridParam',{url:urlStr,datatype:"json"}).trigger("reloadGrid");	
	
}


function queryShowReport(){
	
	
	var deptIDs=getSelected_dept("showTree_"+tblName[g_activeTabID])
	var ComeTime=$("#"+g_activeTabID+" #id_ComeTime").val();
	var EndDate=$("#"+g_activeTabID+" #id_EndTime").val();
	if(deptIDs==undefined)
		deptIDs=''
	var isError=validate_form_acc_exception();
	$.cookie("ComeTime",ComeTime, { expires: 7 });
	$.cookie("EndDate",EndDate, { expires: 7 });
	$("#"+g_activeTabID+" #id_con_error").css("display","none");
	var urlStr="";
	var urlTime="";
	var urlTime1="";
	var ord="asc";
	var sortname="";
	if(!isError){
		urlTime1="TTime__gte="+ComeTime+"&TTime__lt="+EndDate
	}else{
		$("#"+g_activeTabID+" #id_con_error").css("display","block");
		$("#"+g_activeTabID+" #id_con_error").html("<span class='Se_Tran_errorlist'>{%trans 'Please check that you select one or more employees or select department and the date is validate!'%}</span>");
		return false;
	}
		
	urlTime="&"+urlTime1
	//urlStr+=urlTime
	//if(deptIDs!='' && deptIDs!=undefined ){
	//       urlStr+="&deptIDs="+deptIDs 
	//}
	
	urlStr+=urlTime
	
	$.cookie("url",urlStr, { expires: 7 });
	ischecked=0;
	
	if($("#id_cascadecheck_"+tblName[g_activeTabID]).prop("checked"))
		ischecked=1;
	var url="/acc/report/acc_exception/?event_no__gte=20&event_no__lte=200"

	if (urlStr!="" &&  urlStr!=null)
		url+=urlStr;

	sortname="TTime"
	savecookie("search_urlstr",url);
	$("#id_grid_report").jqGrid('setGridParam',{url:url,datatype:"json",sortorder:ord,sortname:sortname}).trigger("reloadGrid");

}



</script>
<div id="id_top">
	<div id="id_line" style="padding: 2px;width: 100%;overflow: hidden;">
		<span style="width:385px;">
		
		   <label >{%trans "Begin Date"%}</label>
		   <input type="text" name="ComeTime" maxlength="10" id="id_ComeTime" size="9" />
		
		   <label >{%trans "End Date"%}</label>
		   <input type="text" name="EndTime" maxlength="10" id="id_EndTime"  size="9" />
		
		</span>
                
                <!-- <span id='id_search' ><a class='m-btn  zkgreen rnd mini'>{%trans 'Query'%}</a></span> -->
                
		<span style="float:right;">
			<div id="id_searchbar" class='search-pu'>
				<div class="nui-ipt nui-ipt-hasIconBtn " >
					<input id="searchbar" class="search-input" type="text" value="工号,姓名" role='defvalue' autocomplete="off"/>
				</div>
				<div class="main-search-btn" style="height:22px">
					<span><img id="searchButton" src="{{ MEDIA_URL }}/img/s.gif" title="{%trans "Search"%}" style="cursor:hand;"></span>
				</div>
			</div>
		</span>		
	</div>

	<div id="id_toolbar">
			<UL class="toolbar" id="navi">
				<LI id="id_reload_report_acc_exception"><SPAN class="icon iconfont icon-shuaxin"></SPAN>{%trans "Reload"%}</LI>
				<LI id="id_export_report_acc_exception"><SPAN class="icon iconfont icon-daochu"></SPAN>{%trans "Export"%}
				        <ul id="op_menu_export" class="op_menu">
						<li><span>{%trans "文件格式"%}</span>
							<ul>
							<li onclick="javascript:clickexport(tblName[g_activeTabID],0);"><a href="#">EXCEL</a></li>
							<li onclick="javascript:clickexport(tblName[g_activeTabID],1);"><a href="#">TXT</a></li>
							<li onclick="javascript:clickexport(tblName[g_activeTabID],2);"><a href="#">PDF</a></li>
							</ul>
						</li>
					</ul>
				</LI>
				<LI id="id_custom"><SPAN class="icon iconfont icon-select"></SPAN>{%trans "Preferences"%}</LI>
			</UL>
        </div>

	
</div>


<!--	<div id="show_field_selected">
		<div class="title"><span class='close' onclick='hideFields_define();'></span></div>
		<div id="id_fields_selected"></div>
	</div>
-->

<div class="report_acc_exception_module" style="position:relative; width: 99%;margin-top: 2px;">
			<table id="id_grid_report" >	</table>
			<div id="id_pager_report_acc_exception"></div>
	 
</div>
<div id="id_tip" class="tip" style="visibility:hidden"></div>



