{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% trans 'Change password' %} / <a href="../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password change successful' %}</h1>

<p>{% trans 'Your password was changed.' %}</p>
<input type="button" value="{% trans 'Sign in again' %}" onclick="javascript:signOut();"/>
<script>

function signOut(){
window.location.href="../../logout/";
}
</script>
{% endblock %}
