{% load i18n %}
<style>
	    #pass_change_form th,#pass_change_form td
	    {
			padding: 10px 0 10px 0;
	    }
</style>
<script>
$(function(){
var width=600;//document.body.scrollWidth;
var height=400;//document.body.offsetHeight;
//$("#bigSmall").css("padding-left",width/5).css("padding-top",height/5).css("padding-right",width/5).css("padding-bottom",height/5);
$("#id_error_change").css("display","block");
//function formToRequestString(form_obj)
// {
//      var query_string='';
//      var and='';
//      for (var i=0;i<form_obj.length ;i++ )
//      {
//          e=form_obj[i];
//          if (e.name) {
//              if (e.type=='select-one') {
//                  element_value=e.options[e.selectedIndex].value;
//              } else if (e.type=='select-multiple') {
//                  for (var n=0;n<e.length;n++) {
//                      var op=e.options[n];
//                      if (op.selected) {
//                          query_string+=and+e.name+'='+encodeURIComponent(op.value);
//                          and="&"
//                      }
//                  }
//                  continue;
//              } else if (e.type=='checkbox' || e.type=='radio') {
//                  if (e.checked==false) {   
//		      continue;   
//                  }   
//                  element_value=e.value;
//              } else if (typeof e.value != 'undefined') {
//                  element_value=e.value;
//              } else {
//                  continue;
//              }
//              query_string+=and+e.name+'='+encodeURIComponent(element_value);
//              and="&"
//          }
//      }
//      return query_string;
// }

$("#sbm").click(function(){

		var formStr= $("#pass_change_form").formSerialize()//formToRequestString($("#pass_change_form").get(0));
		$.post("/iclock/accounts/password_change/", 
			formStr,
			function (ret, textStatus) {
				if(ret.ret==0)
				{
					if(mod_name==''){
						window.location.href=window.location.href;
						window.location.reload;
					} else{
						window.location.href="/iclock/imanager"
					}
					//alert("口令修改成功");
					$("#id_error_change").css("display","block");
					$("#id_error_change").html("<div style='background:red;width:300px;font-size:12px;'>"+ret.message+"</div>");
					$("#pass_change_form").reset();																				
				}
				else
				{
					$("#id_error_change").css("display","block");
					$("#id_error_change").html("<div style='background:red;width:300px;font-size:12px;'><img src='../media/img/icon_alert.gif'/>"+ret.message+"</div>");
						
				}
			},
			"json");
			});




});
</script>
<div id="bigSmall" style="padding: 20px 0 20px 10px;">
<a style="color:#333333;font-size: 14px;font-weight: bold;">{% trans 'Password change' %}</a>

<p style="color:red;padding: 5px;">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

	    <form action="" method="post" id="pass_change_form">
			<table>
			{{ form.as_table }}
			</table>
	    <span  id='id_error_change'></span>
	    
	    </form>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <BUTTON id="sbm" class="m-btn  zkgreen rnd">{% trans 'Change my password' %}</BUTTON>
	
</p>



</div>
